**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/*.md
**/*.DotSettings
**/*.user
**/appsettings.Development.json
**/secrets.json
**/TestResults
**/.idea
**/*.log
